@import url('https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400..700;1,400..700&family=Ribeye&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #000000;
}
body {
  max-width: 1601px;
  width: 100%;
}
/* Populars */
.Populars {
  margin: 140px auto 0;
  max-width: 1140px;
  width: 100%;
  height: 688px;
}
.Populars_title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Populars_title h2 {
width: 338px;
height: 60px;
font-family: 'Gelasio';
font-weight: 500;
font-size: 43px;
line-height: 140%;
}
.Populars_title p {
  margin-top: 20px;
  width: 735px;
  text-align: center;
  opacity: 0.6;
}

.Populars_cards {
  margin-top: 50px;
  display: flex;
  column-gap: 30px;
}

.Populars_card {
  width: 360px;
  height: 500px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.Populars_card:hover {
  box-shadow: 0px 6px 35px rgba(0, 0, 0, 0.08);
}
.img_card {
  width: 360px;
  height: 331px;
  border-radius: 10px 10px 0px 0px;
}

.card-title {
  margin-top: 35px;
  font-family: 'Gelasio';
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
}

.card-text {
  height: 55px;
  text-align: center;
  opacity: 0.6;
}

/* offers */
.offers {
  margin-top: 140px;
  min-height: 592px;
  height: 100%;
}
.offer_text {
  max-width: 656px;
  min-height: 138px;
  margin: 0 auto;
}
.offer_text h3 {
  margin: 0 auto;
  width: 271px;
  height: 60px;
  font-family: 'Gelasio';
  font-weight: 500;
  font-size: 43px;
  line-height: 140%;
}
.offer_text p {
  width: 656px;
  height: 58px;
  text-align: center;
  opacity: 0.6;
  margin-top: 20px;
}
.offer_card {
  min-height: 394px;
  margin-top: 60px;
  column-gap: 73px;
  overflow-x: scroll;
  padding-bottom: 60px;
  display: flex;
  column-gap: 73px;
}
.cars {
  max-width: 262px;
  min-height: 334px;
}
.cars:hover {
  box-shadow: 0px 6px 35px rgba(0, 0, 0, 0.08);
}
.name {
  margin-top: 20px;
  height: 36px;
  font-family: 'Gelasio';
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
}
.geolocation {
  margin-top: 8px;
  width: 163.86px;
  height: 30px;
}
.time {
  margin-top: 8px;
  width: 104px;
  height: 24px;
  opacity: 0.6;
  font-size: 16px;
}
.value {
  margin-top: 8px;
  width: 98px;
  height: 27px;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
}
d {
  width: 104px;
  height: 24px;
  opacity: 0.6;
  font-size: 16px;
}
/* blogs_news */
.blogs_news {
  margin: 0 auto;
  max-width: 1140px;
  margin-top: 140px;
}
.blog_new1  {
  max-width: 581px;
  width: 100%;
  margin: 0 auto;
}
.blog_new1 h4 {
  font-family: 'Gelasio';
  font-weight: 500;
  font-size: 43px;
  line-height: 140%;
  text-align: center;
}
.blog_new1 span {
  display: block;
  text-align: center;
  opacity: 0.6;
  margin-top: 20px;
}
.blogs {
  max-height: 620px;
  height: 100%;
  display: flex;
  margin-top: 56px;
  column-gap: 32px;
}
.blog_new2 {
  max-width: 554px;
  width: 100%;
}
.blog_new2 img{
  width: 554px;
  height: 397px;
  border-radius: 10px;
}
.blog_new2 h5 {
  font-family: 'Gelasio';
  font-weight: 500;
  font-size: 20px;
  margin-top: 35px;
  height: 32px;
}
.blog_new2 span {
  margin-top: 10px;
  opacity: 0.6;
  height: 151px;
  display: block;
  width: 470px;
}
.blog_new2 p {
  height: 30px;
  margin-top: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
}
.blog_new3 {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 554px;
  row-gap: 30px;
}
.blog {
  display: flex;
  column-gap: 27px;
  height: 201px;
}
.blog img{
  width: 263px;
  height: 201px;
  border-radius: 10px;
}
.blog_text {
  display: flex;
  flex-direction: column;
}
.blog_text h5 {
  margin-top: 32px;
  height: 30px;
  font-family: 'Gelasio';
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
}
.blog_text span {
  height: 60px;
  opacity: 0.6;
  margin-top: 10px;
}
.blog_text p {
  margin-top: 5px;
  height: 30px;
  font-size: 20px;
  line-height: 150%;
  opacity: 0.8;
}
/* ------------footer--------- */
.footer {
  height: 100%;
  background: rgba(38, 148, 153, 0.04);
  margin-top: 150px;
  min-height: 348px;
}
.footer_container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 186px 74px 158px 1fr;
  padding-top: 70px;
  gap: 110px;
}
.footer_info1 {
  width: 186px;
  height: 178px;
}
.footer_info1 h6 {
  font-family: 'Ribeye';
  font-size: 24px;
  line-height: 150%;
}
.footer_info1 span {
  letter-spacing: 0.06em;
  font-size: 16px;
  margin-top: 40px;
  display: block;
}
.footer_info1 p {
  letter-spacing: 0.06em;
  font-size: 16px;
  margin-top: 10px;
}
p {
  display: block;
}
.footer_info2 .info {
  min-height: 200px;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer_info3 .info {
  min-height: 156px;
}
.footer_info1__nav {
  margin-top: 20px;
  max-width: 161px;
  display: flex;
  justify-content: space-between;
}
/* -----------media--------- */
@media screen and (max-width: 1120px) {
  .blogs {
    flex-wrap: wrap;
    justify-content: center;
  }
  .blog_new3 {
    margin-top: 40px;
  }
}
@media screen and (max-width: 775px) {
  .blog_new2 {
    text-align: center;
  }
  .blog_new2 span {
    width: auto;
  }
}
@media screen and (max-width: 525px) {
  .blog {
    flex-wrap: wrap;
    column-gap: 0;
    height: auto;
    justify-content: center;
    text-align: center;
    border: rgba(0, 0, 0, 0.092) 1px solid;
    border-radius: 10px;
  }
  .blog img {
    margin-top: 20px;
  }
  .blog_new2 img {
    height: auto;
  }
}
@media screen and (max-width: 400px) {
  .blog_new2 span {
    height: auto;
  }
  .blog_new2 {
    height: auto;
  }
}